body {
  font-family: Arial, sans-serif;
}

.container {
  max-width: 800px;
  margin: auto;
}

.text-center {
  text-align: center;
}

.header {
  margin-bottom: 20px;
}

.header h1 {
  margin-bottom: 10px;
}

.header p {
  margin-bottom: 5px;
}

.header a {
  margin: 0 5px;
}

hr {
  margin: 20px 0;
}

.experience-item {
  margin-bottom: 20px;
}

.job-title {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-weight: bold;
}
.job-title em{
  font-weight: normal;
}
.job-title .date {
  font-weight: normal;
  color: #666;
}

.experience-details {
  padding-left: 20px;
  list-style-type: disc;
}